//Line-height
//Line-height
$lh-xxl:56px;
$lh-xl:42px;
$lh-l:41px;
$lh-m:33px;
$lh-mm:25px;
$lh-s:21px;
$lh-xs:19px;

//Font-size:
$fs-xxl:48px;
$fs-xl:36px;
$fs-l:30px;
$fs-m:24px;
$fs-s:18px;
$fs-xs:14px;


//Colors
$white:#FFFFFF;
$paleRed:#EC7979;
$input:#BDBDBD;
$grey:#86878B;
$burgundy:#AB4949;
$black: #333333;
